body {
	margin: 0;
}

img {
	max-width: 88%;
	object-fit: contain;
	/* 覆盖官方的行内zoom设定 */
	zoom: 100% !important;
	margin: 1.2em 0;
}

code {
	background-color: #f8f8f8;
	font-family: Roboto Mono, Monaco, courier, monospace;
	border-radius: 2px;
	color: #e96900;
	font-size: .8rem;
	margin: 0 2px;
	padding: 3px 5px;
	white-space: pre-wrap;
}

p {
	margin: 1.2em 0;
	line-height: 1.6rem;
	word-spacing: .05rem;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
	display: block;
	margin-bottom: 1rem;
	overflow: auto;
	width: 100%;
}

th,
td {
	padding: 6px 12px;
}

th {
	background-color: #f8f8f8;
}

tr {
	border: 1px solid #ddd;
}

tr:not(:last-child) {
	border-bottom: none;
}

th,
td {
	border-right: 1px solid #ddd;
}

th:first-child,
td:first-child {
	border-left: 1px solid #ddd;
}